@import 'normalize';
@import 'helpers';
@import 'icons';

/* variables */
$linkColor: #5881FF;

html,
button,
input,
select,
textarea {
  color: black;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a {
  &:hover {
      color: lighten($linkColor, 10%);
  }

  &:active,
  &:focus,
  &.active {
    text-decoration: underline;
  }
}

body {
  color: black;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul {
  padding: 0px;
  li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);

    a:hover {
      color: $linkColor;
    }
  }
}
.content {
  padding: 1em;
}

.block {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  min-width: 480px;
  max-width: 1024px;
  padding: 1em;
  display: block;
}

.c_gray {
  color: #878787;
}

.m_display {
  display: none;
}

.link {
  font-size: 0.9rem;
  color: $linkColor;
  margin-left: 5px;
  cursor: pointer;
}

.city {
  font-size: 1.5rem;
}

.Loading {
  text-align: center;
  display: block;
  margin: auto;
}

.input {
  height: 40px;
  padding: 5px 5px 5px 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.suggest {
  padding: 0px;
  &_item {
    display: block;
    padding: 10px 5px;
  }
}


.weather {
  margin: 0px 0 20px 0;

  &_details {
    min-width: 170px;
  }

  &_header {
    align-items: center;
    display: flex;
    margin: 10px 40px 10px 0;
    &_temp {
      margin-left: 10px;
      font-size: 2.5rem;
    }
  }

  &_list{
    display: flex;
    justify-content: space-around;

    &_item {
      padding: 10px;
      width: 100%;
      background-color: #F7F7F7;
      cursor: pointer;

      &.active {
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
      }

      &_temp {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .hr {
    display: none;
  }

  .h_desktop {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    &.m_display {
      display: flex;
    }
  }
  .weather {
    display: block;

    &_list {

      &_item {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}

@media all and (min-width: 1000px) {
  .weather {
    display: flex;
  }
}